

.sponsorcont {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 20px;
    margin-top: 40px;
}

.sponsor {
    margin: 0px 20px;
}

.teamcont {
    display: flex;
    flex: 1;
    justify-content: center;
}

.teamhr {
    border: 4px solid white;
    border-radius: 5px;
}

.member {
    color: black;
    font-weight: 600;
    margin: 4px 20px;
}

.memberimg {
    filter: invert(1);
    margin: 22px;
}

.role {
    font-weight: 400;
    font-size: 17px;
    color: rgb(95, 95, 95);
    margin-bottom: 10px;
}

.footer {
    text-align: left;
    color: rgb(86, 83, 95);
}