#sponsors {
    padding-top: 120px;
}

#team {
    padding-top: 30px;
}

.sponsorcont {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 20px;
    margin-top: 40px;
}

.odd {
    margin: 0px 20px;
    transition: all .2s ease-in-out; 
}

.even {
    margin: 0px 20px;
    transition: all .2s ease-in-out; 
}

.odd:hover {
    transform: rotate(6deg) scale(1.1);
}

.even:hover {
    transform: rotate(-6deg) scale(1.1);
}


.teamcont {
    display: flex;
    flex: 1;
    justify-content: center;
}

.teamhr {
    border: 4px solid white;
    border-radius: 5px;
}

.member {
    color: black;
    font-weight: 600;
    margin: 4px 20px;
}

.memberimg {
    filter: invert(1);
    margin: 22px;
}

.role {
    font-weight: 400;
    font-size: 17px;
    color: rgb(95, 95, 95);
    margin-bottom: 10px;
}

.footer {
    color: rgb(86, 83, 95);
}

.contcard {
    text-align: center;
    border: solid 10px rgb(158, 129, 134);
    background-color: rgb(215, 168, 175);
    margin: 10px 80px;
    padding: 20px;
}
