
h3 {
    text-align: center;
    color: rgb(66, 66, 66);
    font-weight: 500;
}

.itemcont {
    text-align: center;
    color: rgb(84, 84, 84);
}

.logitem {
    flex: 1;
    transition: all .2s ease-in-out; 
}

.logitem:hover {
    transform: scale(1.1);
}

.logitem > h3 {
    display: inline-block;
    position: relative;
}

.logitem> h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca8700;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.logitem > h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p {
    text-align: center;
}



@keyframes expand {
            0% {
                height: 120px;
            }

            100% {
                height: 250px;
            }
        }

@keyframes reverseexpand {
            0% {
                height: 250px;
            }

            100% {
                height: 120px;
            }
        }



.trackd {
    flex: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.trackd > h6 {
    margin-top: 20px;
    visibility: hidden;
}

.trackd:hover {
    animation-name: expand;
    animation-timing-function: ease;
}

.trackd:not(:hover) {
    animation-name: reverseexpand;
    animation-timing-function: ease;
}

.trackd:hover > h6 {
    visibility: visible;
}

.trackcont {
    text-align: center;
    color: rgb(84, 84, 84);
    height: 280px;
}